<div class="div-background">
  <video autoplay muted loop class="my-video">
    <source type="video/mp4" class="source" />
  </video>

  <div class="div-main">
    <div class="div-space1">
      <div class="div-capital-flag">
        <div><span class="h1-zonename"></span> <img class="img-flag" /></div>
      </div>
    </div>
    <div class="div-space2">
      <div class="div-info">
        <div class="div-country-name">
          <div class="div-data2">COUNTRY NAME</div>
          <div class="div-data1" id="countryname"></div>
        </div>
        <div class="div-currency-name">
          <div class="div-data2">CURRENCY</div>
          <div class="div-data1" id="currency"></div>
        </div>
        <div class="div-date-time">
          <div class="div-data2">DATETIME</div>
          <div class="div-data1" id="datetime"></div>
        </div>
        <div class="div-time-day">
          <div class="div-data2">TIMEDAY</div>
          <div class="div-data1" id="timeday"></div>
        </div>
        <div class="div-offset">
          <div class="div-data2">GMT OFFSET</div>
          <div class="div-data1" id="offset"></div>
        </div>
      </div>
    </div>
  </div>
</div>
